block variables
    - const siteTitle = 'Приложение чат';

block content
    include ../../templates/main.pug
        .block
            h2.block__title !{label}
            form.form(name="signin")
<<<<<<< HEAD
                .form__container 
                    | !{content}
                    .form__buttons 
                        | !{button}
                        a(href='/signup.html') Нет аккаунта?
=======
                .form__container !{content}
                    .form__buttons !{button}
                        a(href='/signup.pug') Нет аккаунта?
>>>>>>> ec57666b528b8dfa057225af843d9b1d95766628
