block variables
    - const siteTitle = 'Список чатов';

block content
    include ../../templates/main.pug
        .chat-container
            .chat-list
                .chat-list__container !{link} 
                    //- .chat-search-bar
                    //-     .chat-search-bar__container
                          //- form(id="createChatForm") !{createChat} 
                            //- | !{button} 
                    | !{createChat} 
                    | !{chatList}
            .chat-area
                .chat-area__header
                    .chat-list-item__image
                    .chat-list-item__message-info
                        p.chat-list-item__user-name !{sender}
                .chat-area__container
                    | !{messageList}
                .chat-area__footer
                    //- form.chat-message-form(name="message")
                    //-     .chat-message-form__btn-attach
                    //-     | !{inputMessage}
                    //-     button.chat-message-form__btn-send
          
