//- extends ../../layout/base

include ../../mixins/inputField.pug

block variables
    - const siteTitle = 'Профиль';

block content
    include ../../templates/main.pug
        .profile-info !{modal} 
            .profile-info__container
                .profile-info__head
                    | !{image}
                    p.profile-info-name.big Иван

                .profile-info__fields-container
                for i in fields
                    .profile-info__field
                        p.profile-info__field-name=i.name
                        p.profile-info__field-value=i.value

                .profile-info__fields-container 
                    .profile-info__field !{buttonEditInfo}
                    .profile-info__field !{buttonEditPass}
                    .profile-info__field !{buttonLogout}
                        a.profile-info__field-name.profile-info__logout(href='/') 
        
        .profile-navigate
            .profile-navigate__button 
                a(href="/chat.html")
                    img(src='../../static/img/arrow.svg' width='28' height='28' alt='Назад к чатам')
        
        | !{modalEditProfile}
        | !{modalEditPass}
        | !{modalAddPhoto}
