block variables
    - const siteTitle = 'Профиль';

block content
    include ../../templates/main.pug
        .profile-info !{modal} 
            .profile-info__container
                .profile-info__head
                    | !{image}
                    p.profile-info-name.big Иван

                .profile-info__fields-container
                for i in fields
                    .profile-info__field
                        p.profile-info__field-name=i.name
                        p.profile-info__field-value=i.value

                .profile-info__fields-container 
                    .profile-info__field !{buttonEditInfo}
                    .profile-info__field !{buttonEditPass}
                    .profile-info__field !{buttonLogout}
                        a.profile-info__field-name.profile-info__logout(href='/') 
        
        .profile-navigate
            a.profile-navigate__link(href="/chat.html")
        | !{modalEditProfile}
        | !{modalEditPass}
        | !{modalAddPhoto}
